body {
    border: medium gold;
    background: rgb(55, 63, 81);
}
h1 {
    font-family: "Courier New", serif;
    font-size: 55px;
    color: rgb(88, 164, 176);
}
ol {
    list-style-type: none;
}
ul  {
    list-style-type: none;
}
a:visited{
    color: chartreuse;
}
a:hover{
    font-size: 30px;
}
.pics{
    border-radius: 10%;
}

.class1 {
    font-family: "Comic Sans MS", serif;
    color: rgb(169, 188, 208);
    font-size: 20px;
}
.class2 {
    text-align: center;
    font-family: Chalkboard, serif;
    color: rgb(216, 219, 226);
    font-size: 25px;
}
#crazyText{
    font-family: Webdings, serif;
    text-align: center;
}
#header1 {
    text-align: center;
}
#logo{
    border-radius: 50%;
}
#coding{
    border-radius: 20%;
}
#header2 {
    text-align: center;
    font-family: "Comic Sans MS", serif;
    color: cadetblue;

    font-size: 45px;
}
