h1 {
    background-color: #708090;
    padding: 10px;
    border: 1px solid #ff0000;
}
li {
    margin: 15px;
    background-color: #778899;
}
p {
    background-color: #696969;
    border: 2px dotted #000000;
    width: 600px;
    height: 400px;
}
a {
    border-bottom: 3px dashed #0000ff;
    background-color: #ffd700;
}
