h1{
    text-justify: auto;
    text-align: center;
    margin-left: 5px;
    margin-bottom: -10px;
    font-family: Verdana, sans-serif;
}
h1 .h1color{
     color: orange;
 }
h2{
    text-align: center;
}
h2 .h2color{
    color: black;
}
h4{
    color:orange;
}
hr{
    border-top: 1px dotted black
}
h3{
    color: orange;
}
h3 .h3color{
    color:#55cece;
}
h5{
    color: orange;
}
h5 .h5color{
    color:#55cece;
}
#hrsolid{
    border-top: 1px solid black;
}