body{
    background-color: blanchedalmond;
    margin: 10px;
}
.invisible{
    visibility: hidden;
}
.pictures{
    position: fixed;
}
.changeColor {
    background-color: indianred;
}
#bottompic{
    bottom: 10px;
    right: 10px;
}
#topic{
    text-align: center;
    font-size: 50px;
}
#register-to-site{
    display: none;
    top:210px;
}
#topPic{
    top: 245px;
}