*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #808080;
    padding-top: 10vh;
}
.form-container1{
    position: absolute;
    left: 10vh;
    padding: 40px;
    margin-left: 0;
    margin-top: 30px;
    width: 250px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000;
}
.form-container2{
    position: absolute;
    left: 50vh;
    padding: 40px;
    margin-left: 10px;
    margin-top: 30px;
    width: 250px;
    height: auto;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000;
}
.form-container3{
    position: absolute;
    left: 90vh;
    margin-left: 20px;
    margin-top: 30px;
    width: 250px;
    height: auto;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #000000;
}
.nav{
    padding-top: -10px;
    position: fixed;
}
.footer{
    position: fixed;
    bottom: 10px;
}
ul.list{
    list-style-type: none;
    text-align: center;
}
ul.list li{
    width: 250px;
    margin-bottom: 10px;
}
ul.list li input{
    width: 250px;
    text-align: center;
    padding:0;
}
ul.list li input[type="checkbox"]{
    width: auto;
}
ul.list li button[type="login"]{
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: dodgerblue;
    color: #ffffff;
}
ul.list li button[type="login2"]{
    border-radius:10px;
    padding: 10px;
    width: 75px;
    text-align: center;
    background-color: dodgerblue;
    color: #ffffff;
}
ul.list li button[type="twitter"]{
    border-radius: 4px;
    border:1px solid teal;
    color: teal;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 1px;
    padding-bottom: 6px;
    padding-right: 3px;
    vertical-align: middle;
}
ul.list li button[type="facebook"]{
    border-radius: 4px;
    border:1px solid dodgerblue;
    color: dodgerblue;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 1px;
    padding-bottom: 6px;
    padding-right: 3px;
    vertical-align: middle;
}
ul.list li button[type="sign_up"]{
    border: 1px solid dodgerblue;
    border-radius: 4px;
    padding: 10px;
}

