body{
    background: url("https://starwarsblog.starwars.com/wp-content/uploads/2020/04/star-wars-backgrounds-25.jpg") no-repeat;
    background-size: cover;
    /*background-color: black;*/
}
h1{
    padding-top: 30px;
    color: white;
}
th{
    padding: 20px;
    text-align: center;
}
tbody{
    font-size: 20px;
}
#characters{
    margin-left: auto;
   margin-right: auto;
    color: rgb(252,	230, 116);
    /*margin: 0px auto 500px*/
}
#logo{
    margin: auto;
}
