html{
    background-color: #808080;
    padding: 30px;
    height: 3000px;
}

nav{
    color: #800080;
    background-color: #ffd700;
    margin: 1px;
    position: fixed;
    top: 10px;
    border: 2px solid #800080;
}
a{
    margin: 15px;
}
h1{
    text-align: center;
    font-size: 70px ;
    color: #800080;
    background-color: #ffd700;
    border: 4px solid #800080;
}
img{
    margin: 10px;
    border: 4px solid #800080;
    padding: 8px;
}
.class3{
    text-align: center;
    font-size: 30px ;
    color: #800080;
    background-color: #ffd700;
    border: 4px solid #800080;
    height: 200px;
    position: absolute;
    margin-top: 400px;
    padding-bottom: 20px;

}
#tribute{
    background-color: #ffd700;
    font-size: 20px;
    color: #800080;
    border: 3px dashed #800080;
    width: 770px;
    height: 300px;
    float: right;
    padding: 10px;
    clear: left;
}
#goTop{
    color: #800080;
    position: fixed;
    bottom: 1px;
}
#video{
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}
#moreInfo{
    color: #800080;
    background-color: #ffd700;
    border: 2px solid purple;
    text-align: center;
    bottom: 1px;
    position: fixed;
}
